<style>
    .player-container {
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 60px;
        background-color: #e4e4e4;
        display: flex;
        font-size: 1.3rem;
        justify-content: center;
    }

    .player-option {
        height: 50px;
        width: 50px;
        margin: auto 0px;
        background-color: white;
        padding: 0 10px;
    }
    
    tr {
        width: 80%;
        border: 2px solid black;
        border-collapse: collapse;
        margin: auto;
    }
    
    td {
        padding: 20px;
        background-color: #f2f2f2;
        cursor: pointer;
    }

    td:hover {
        background-color: #e4e4e4;
    }
    
    .table-container {
        padding: 20px 0px;
        display: flex;
        width: 100%;
    }
    
    .player-control-icon {
        height: 100%;
        transition: 2s ;
        user-select: none;
    }
    
    .table {
        margin: auto;
        width: 100%;
    }
    </style>


<div>
    <div class="table-container">
        <table class="table">
            <tr *ngFor="let s of songs; let i = index">
                <td (click)="playSong(i)">{{s}}</td>
            </tr>

        </table>
    </div>

    <div class="player-container">
        <div class="player-option" (click)="prevSong()">
            <img class="player-control-icon" src="../../assets/images/player/skip_previous_black_24dp.svg">
        </div>
        
        <div class="player-option" *ngIf="!isPlaying" (click)="resumeSong()">
            <img class="player-control-icon" src="../../assets/images/player/play_arrow_black_24dp.svg">
        </div>
        
        <div class="player-option" *ngIf="isPlaying" (click)="pauseSong()">
            <img class="player-control-icon" src="../../assets/images/player/pause_black_24dp.svg">
        </div>
        
        <div class="player-option" (click)="nextSong()">
            <img class="player-control-icon" src="../../assets/images/player/skip_next_black_24dp.svg">
        </div>
        
    </div>
</div>